<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
    <title>會員</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
    th {
        text-align: center;
    }
    
    div.members {
        text-align: center;
        padding: 40px 15px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"> Toggle navigation </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">15mins Metting</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="members">
            <p>
                {% for meeting in meetings %}
            <h2>{{ meeting.subject}}</h2>
            {% if meeting.membersjoin_set.all %}
            <p>本會議共有{{ meeting.membersjoin_set.all|length}}個參加人</p>
            <table>
                <tr>
                    <th>email</th>
                    <th>team</th>
                    <th>nick name</th>
                </tr>
                {%for member in meeting.membersjoin_set.all %}
                <tr>
                    <th>{{member.e_mail}}</th>
                    <th> ?</th>
                    <th> ?</th>
                </tr>
                {% endfor %}
            </table>
            </p>
            {%else%}

            <p>本會議目前沒有參加人</p>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
